/* default colors */
@import url(/css/colors.css);
/* default fonts */
@import url(/css/fonts.css);

/* General style settings */
body {
    background-color: #F5F5F5 !important;
}

a {
    text-decoration: none !important;
}

/* Main menu styling */
.row.menu {
    min-height: 100px;
}

.row.menu .col-8 {
    display: grid;
    align-items: center;
}

.row.menu .menu-list.nav {
    align-items: center;
    width: 100%;
}

.row.menu .menu-list.nav a {
    font-weight: 500;
    color: #000
}

.row.menu .menu-list.nav .button {
    cursor: pointer;
    border: 1px solid var(--orange);
    padding: 0.5em 1.5em;
    border-radius: 80px;
}

.row.menu .menu-list.nav .button a {
    color: var(--orange);
}

.row.menu .menu-list.nav .button:last-child {
    background-color: var(--orange);
}

.row.menu .menu-list.nav .button:last-child a {
    color: #fff;
}


svg.navbar-toggler.collapsed, svg.navbar-toggler {
    width: 60px;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 900px) {
    /* Main menu styling */
    
    nav.navbar.navbar-expand-lg .container-fluid {
        justify-content: end;
        padding: 0;
    }

    .navbar-nav {
        gap: 15px
    }

    div#navbarNav {
        position: fixed;
        top: 100px;
        left: 0;
        width: 100vw;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
    
}

@media only screen and (max-width: 320px) {
    
}